# ==========================
# FRONTEND
# ==========================

NEXT_PUBLIC_API_URL=http://localhost:8000

# ==========================
# BACKEND
# ==========================

APP_NAME=MovieNet V2

DEBUG=True

HOST=0.0.0.0

PORT=8000

SECRET_KEY=CHANGE_ME_TO_RANDOM_SECRET

JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=60

# ==========================
# DATABASE
# ==========================

DATABASE_URL=postgresql://postgres:password@localhost:5432/movienet

# ==========================
# REDIS
# ==========================

REDIS_URL=redis://localhost:6379

# ==========================
# MOVIE METADATA API
# ==========================

TMDB_API_KEY=YOUR_API_KEY

# ==========================
# CORS
# ==========================

ALLOWED_ORIGINS=http://localhost:3000
